<%- include("../templates/index")%> <%- include("../templates/menuProduct")%>
<div class="container mt-5">
  <form action="/productos/productos/editar" method="post" enctype="multipart/form-data">
    <div class="card">
      <div class="card-header">
        <h3>Editar productio  : <%= producto.id %></h3>
      </div>
      <div class="card-body">
        <input
          class="form-control mb-3"
          type="hidden"
          name="id"
          id="id" 
          value="<%= producto.id %>"
        />
        <p>Imagen</p>
        <img
          class="user-avatar img-fluid m-3"
          style="border-radius: 10px"
          src="/uploadsProducts/<%= producto.foto %>"
          title="<%= producto.foto %>"
          alt="Foto de producto"
          width="100px"
        />
        <br />
        <input
          class="form-control mb-3"
          type="file"
          name="foto"
          id="foto"
          value="<%= producto.foto %>"
          title="<%= producto.foto %>"
          text="<%= producto.foto %>"
          alt="<%= producto.foto %>"
        />
        <p>Nombre</p>
        <input
          class="form-control mb-3"
          type="text"
          name="nombre"
          id="nombre"
          autofocus
          value="<%= producto.nombre %>"
        />
        <p>Descripcion</p>
        <input
          class="form-control mb-3"
          type="text"
          name="descripcion"
          id="descripcion"
          value="<%= producto.descripcion %>"
        />
        <p>Precio</p>
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input type="number" class="form-control" aria-label="Precio" name="precio" id="precio" value="<%= producto.precio %>" min="1" max="9999">
        </div>
        <p>Cantidad</p>
        <div class="input-group mb-3">
          <span class="input-group-text">#</span>
          <input type="number" class="form-control" aria-label="Cantidad" name="cantidad" id="cantidad" value="<%= producto.cantidad %>" min="1" max="999">
        </div>
        <p>Categoria</p>
        <select class="form-select mb-3" aria-label="Default select example" name="categoria" id="categoria" required>
          <option selected>Selecciona una categoria</option>
          <option value="1">Categoria 1</option>
          <option value="2">Categoria 2</option>
          <option value="3">Categoria 3</option>
        </select>
        <p>IVA</p>
        <div class="input-group mb-3">
          <span class="input-group-text">%</span>
          <input type="number" class="form-control" aria-label="IVA" name="iva" id="iva" value="<%= producto.iva %>" min="1" max="99">
        </div>
        <p>Descuento</p>
        <div class="input-group mb-3">
          <span class="input-group-text">%</span>
          <input type="number" class="form-control" aria-label="Descuento" name="descuento" id="descuento" value="<%= producto.descuento %>" min="1" max="99">
        </div>
        <p>En reserva</p>
        <div class="input-group mb-3">
          <span class="input-group-text">#</span>
          <input type="number" class="form-control" aria-label="En reserva" name="reserva" id="enReserva" value="<%= producto.enReserva %>" min="1" max="99">
        </div>
      </div>
      <div class="card-footer">
        <button class="form control btn btn-success" type="submit">
          <i class="bi bi-check-circle"></i> Modificar producto
        </button>
        <a href="/productos/productos" class="btn btn-secondary"><i class="bi bi-arrow-bar-left"></i> Cancelar</a>
      </div>
    </div>
  </form>
</div>
<%- include("../templates/pie")%>
