<%- include("../templates/index")%> <%- include("../templates/menuLoginUsr")%>
<br><br><br>
<div class="container mt-5">
  <form action="/usuarios/usuarios/eliminarEmpresa" method="post">
    <input
      type="hidden"
      name="id"
      value="<%= usuario.id %>"
    />
    <div class="card">
      <div class="card-header text-center text-capitalize text-bg-primary">
        <h3>¿ Borrar Empresa : <%= usuario.nombreEmpresa %> ?</h3>
      </div>
      <div class="card-body fs-5">
        <p>¿Estás seguro de que deseas borrar tu empresa ?</p>
        <p>Cual tiene estos atributos</p>
        <ul>
          <li>Nombre : <%= usuario.nombre %></li>
          <li>Foto : <%= usuario.foto %></li>
          <div class="avatar-container text-center align-content-center">
            <img
              class="user-avatar img-fluid m-3"
              style="border-radius: 10px"
              src="/uploads/<%= usuario.foto %>"
              alt="Foto de perfil"
              width="100px"
            />
            <br />
          </div>
          <li>Usuario : <%= usuario.usuario %></li>
          <li>Contraseña : <%= usuario.password.slice(0, 10) %> ... y <%= usuario.password.length - 10 %> caracteres restantes</li>
          <li>Correo : <%= usuario.email %></li>
          <li>Curp : <%= usuario.curp %></li>
          <li>RFC : <%= usuario.rfc %></li>
          <li>Teléfono : <%= usuario.telefono %></li>
          <li>Direcion : <%= usuario.direccionEmpresa %></li>

        </ul>
      </div>
      <div class="card-footer text-center">
        <button class="btn btn-danger" type="submit">
          <i class="bi bi-trash3-fill"></i> Borrar
        </button>
        <a href="/principalTienda" class="btn btn-secondary">
          <i class="bi bi-arrow-bar-left"></i> Cancelar</a
        >
      </div>
    </div>
  </form>
</div>

<style>
  body {
    background-color: rgb(196, 213, 231);
  }
  .container {
    max-width: 500px;
    margin: 0 auto;
  }

  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .card-header {
    background-color: #8eb8e2;
    padding: 10px;
    border-bottom: 1px solid #92b6df;
    margin-bottom: 10px;
    border-radius: 30px;
  }

  .card-body {
    margin-bottom: 20px;
  }

  .btn {
    margin-right: 10px;
  }
  .card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 20px;
  text-align: center;
  text-decoration: double;
}

.card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}
li{
  text-align: justify;
}
</style>
<%- include("../templates/pie")%>