<%- include("../templates/index")%> <%- include("../templates/menu")%>
<div class="container mt-5">
  <form action="/editar" method="post" enctype="multipart/form-data">
    <div class="card">
      <div class="card-header">
        <h3>Editar usuario : <%= usuario.id %></h3>
      </div>
      <div class="card-body">
        <input
          class="form-control mb-3"
          type="hidden"
          name="id"
          id="id"
          value="<%= usuario.id %>"
        />
        <input
          type="hidden"
          name="passwordAnterior"
          id="passwordAnterior"
          value="<%= usuario.password %>"
        />
        <p>Imagen</p>
        <img
          class="user-avatar img-fluid m-3"
          style="border-radius: 10px"
          src="/uploads/<%= usuario.foto %>"
          alt="Foto de perfil"
          width="100px"
        />
        <br />
        <input
          class="form-control mb-3"
          type="file"
          name="foto"
          id="foto"
          placeholder=" <%= usuario.foto %>"
          title=" <%= usuario.foto %>"
          text="<%= usuario.foto %>"
          value="<%= usuario.foto %>"
        />
        <p>Nombre</p>
        <input
          class="form-control mb-3"
          type="text"
          name="nombre"
          id="nombre"
          autofocus
          value="<%= usuario.nombre %>"
        />
        <p>Usuario</p>
        <input
          class="form-control mb-3"
          type="text"
          name="usuario"
          id="usuario"
          value="<%= usuario.usuario %>"
        />
        <p>Contraseña</p>
        <% if (error) { %>
        <div class="alert alert-danger" role="alert"><%= error %></div>
        <% } %>
        <input
          class="form-control mb-3"
          type="text"
          name="password"
          id="password"
          placeholder="Escribe un nuevo password o deja en blanco para no cambiarlo"
        />

        <p>Edad</p>
        <input
          class="form-control mb-3"
          type="number"
          name="edad"
          id="edad"
          min="13"
          max="99"
          value="<%= usuario.edad %>"
        />
      </div>
      <div class="card-footer">
        <button class="form control btn btn-success" type="submit">
          <i class="bi bi-check-circle"></i> Modificar usuario
        </button>
        <a href="/" class="btn btn-secondary"
          ><i class="bi bi-arrow-bar-left"></i> Cancelar</a
        >
      </div>
    </div>
  </form>
</div>
<%- include("../templates/pie")%>
