<%- include("../templates/index")%> <%- include("../templates/menu")%>
<div class="container mt-5">
  <form action="/editar" method="post">
    <div class="card">
      <div class="card-header">
        <h3>Editar usuario : <%= usuario.id %></h3>
      </div>
      <div class="card-body">
        <input
          class="form-control mb-3"
          type="hidden"
          name="id"
          id="id" 
          value="<%= usuario.id %>"
        />
        <input
          class="form-control mb-3"
          type="text"
          name="nombre"
          id="nombre"
          autofocus
          value="<%= usuario.nombre %>"
        />
        <input
          class="form-control mb-3"
          type="text"
          name="usuario"
          id="usuario"
          value="<%= usuario.usuario %>"
        />
        <input 
        class="form-control mb-3" 
        type="file" 
        name="foto" 
        id="foto" 
        value="<%= usuario.foto %>"
        />
        <input
          class="form-control mb-3"
          type="text"
          name="password"
          id="password"
          value="<%= usuario.password %>"
        />
        <input
          class="form-control mb-3"
          type="number"
          name="edad"
          id="edad"
          min="13"
          max="99"
          value="<%= usuario.edad %>"
        />
      </div>
      <div class="card-footer">
        <button class="form control btn btn-success" type="submit">
          <i class="bi bi-check-circle"></i> Modificar usuario
        </button>
        <a href="/" class="btn btn-secondary"><i class="bi bi-arrow-bar-left"></i> Cancelar</a>
      </div>
    </div>
  </form>
</div>
<%- include("../templates/pie")%>
