<%- include("../templates/index")%> <%- include("../templates/menu")%>
<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h3>Usuarios</h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped table-hover table-responsive-md">
          <thead>
            <th>ID</th>
            <th>Edad</th>
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Password</th>
            <th>Editar</th>
            <th>Borrar</th>
          </thead>
          <tbody class="table-group-divider">
            <% usuarios.forEach((usuario, index) => { %>
            <tr>
              <td
                style="border: none; background-color: transparent; cursor: none"
              >
                <%= usuario.id %>
              </td>
              <td
                style="border: none; background-color: transparent; cursor: none"
              >
                <%= usuario.edad %>
              </td>
              <td
                style="border: none; background-color: transparent; cursor: none"
              >
                <%= usuario.nombre %>
              </td>
              <td
                style="border: none; background-color: transparent; cursor: none"
              >
                <%= usuario.usuario %>
              </td>
              <td>
                <input
                  type="password"
                  id="password<%= index %>"
                  name="password"
                  readonly
                  disabled
                  style="
                    border: none;
                    background-color: transparent;
                    cursor: none;
                  "
                  value="<%= usuario.password %>"
                />
                <span class="input-group-btn">
                  <button
                    id="show_password<%= index %>"
                    class="btn btn-secondary"
                    type="button"
                    style="padding: 6px"
                  >
                    <span><i class="bi bi-eye-fill"></i></span>
                  </button>
                </span>
              </td>
              <td>
                <a href="/editar/<%= usuario.id %>" class="btn btn-warning"
                  ><i class="bi bi-pen-fill"></i
                ></a>
              </td>
              <td>
                <a href="/borrar/<%= usuario.id %>" class="btn btn-danger"
                  ><i class="bi bi-trash3-fill"></i
                ></a>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

<% usuarios.forEach((usuario, index) => { %>
<script>
  $("#show_password<%= index %>").hover(
    function () {
      $("#password<%= index %>").attr("type", "text");
    },
    function () {
      $("#password<%= index %>").attr("type", "password");
    }
  );
</script>
<% }); %> <%- include("../templates/pie")%>
